.fakeAncla{
    text-decoration: underline;

}

#tarjetas{
flex-wrap: nowrap;
flex-direction: row;
border-radius: 1px;
justify-content: space-around;
}


#footer{
height: 100px;
text-align: center;
padding: 2rem;

}